PORT=3600
PUBLIC_PATH=""
JWT_SECRET=IGS_JWT_SECRET_HERE
JWT_EXPIRATION=3600000
DATABASE_HOST=127.0.0.1
DATABASE=pubsub

NETWORK_STATUS=""
MS_KEY=IGS_MS_KEY_HERE
MS_AUTHORIZATION=ApiKey
GCP_SUBSCRIPTION_ID="projects/<PROJECTID>/subscriptions/igs-token-invalidation"
PUBLIC_USER=1
PRIVATE_USER=4
ADMIN=2048
